<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="Layout :: headerFragment">

</head>
<body>
	<!-- <script type="text/javascript" src="/CMS/resources/js/jquery-1.11.0.js"></script> -->
	<script type="text/javascript"
		src="/PGHMS/resources/js/page-scripts/expenceEntry.js"></script>

	<div th:substituteby="Layout :: defaultFragment"></div>

	<div id="body">
		<fieldset>
			<legend>Reset Password</legend>
			<div id="box">
				<form action="#" th:action="@{/main/resetPassword}" method="POST">
				<p>
					<label>Current Password</label>
					<input 	type="password" id="currentPassword" name="currentPassword"  />
					<p style="font-weight: bold; font-size: 10px; font-color:red; margin-bottom: 10px;" th:text="${mismatchedPassword}" />
				</p>
				<p>
					<label>New Password</label>
					<input 	type="password" id="newPassword" name="newPassword"  />
				</p>
				<p>
					<label>Retype New Password</label>
					<input 	type="password" id="retypeNewPassword" name="retypeNewPassword"  />
					<p style="font-weight: bold; font-size: 10px; font-color:red; margin-bottom: 10px;" th:text="${mismatchedNewPassword}"/>
				</p>
				<p>
					<button name="Submit" class="formbutton" type="submit">Reset</button>
				</p>
				<p style="font-weight: bold; font-size: 10px; font-color:red; margin-bottom: 10px;" th:text="${matchedNewPassword}" />		
				</form>
			</div>
		</fieldset>
		<br/><br/>
	</div>
	<br/><br/><br/>
	<div th:substituteby="Layout :: footerFragment"></div>
</body>
</html>